@import "normalize";
@import "modern-business";

* {
  box-sizing: border-box;
}

@import "navbar";

body {
 
  h1 {
    color: white;
  }
}


// Functioning CSS for Part 1

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    width: 100%*($i/12);
    float: left;
    @media (max-width: 1000px) {
    col-lg-4 {
        float: none;
    }
} 
  }
  .col-md-#{$i} {
    width: 100%*($i/12);
    float: left;
  }
  .col-xs-#{i} {
    width: 100%*($i/12);
    float: left;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.container {
  margin: 0 auto;
  // max-width: 48rem;
  width: 90%;
}

.container:before, .container:after {
  clear: both;
  display: block;
  content: '';
}

.row {
  clear: both;
  text-align: center;
}

.section-colored{
  clear:both;
}

